* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  height: 100px;
  padding: 13.5px;
}

h1 {
  color: #a08963;
  font-family: "Lexend";
  font-size: 36px;
  font-weight: bold;
}

nav ul li {
  color: #a08963;
  font-family: "Lexend";
  font-size: 12;
}

nav ul {
  display: flex;
  gap: 68px;
  list-style-type: none;
}


.principal-header {
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 13px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #a08963;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 0px 0px 48px 0px;
}

.hero-section img {
  width: 100%;
  max-width: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: center;
}

.hero-section .separator {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 500px;
}

.hero-section .rectangle {
  height: 2px;
  width: 100%;
  background-color: #a08963;
}

.hero-section .circle {
  height: 8px;
  width: 8px;
  background-color: #a08963;
  flex-shrink: 0; /* Garante que o círculo permaneça perfeito em qualquer tamanho de tela */
  border-radius: 99999px;
}

.hero-section p {
  font-family: "Lexend", sans-serif;
  width: 500px;
  height: auto;
  text-justify: auto;
  text-align: justify;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: fit-content;
}

.about .coffee,
.about .area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px;
  height: fit-content;
  width: 100%;
}

.about .coffee img {
  display: grid;
  height: 350px;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: bottom;
}

.about .coffee .text {
  display: grid;
  width: 100%;
  background: #c9b194;
  grid-row: 1;
  grid-column: 2 / span 2;
  padding: 96px;
  text-align: justify;
  font-family: "Lexend", sans-serif;
  gap: 16px;
}


footer {
  background-color: #a08963;
  color: white;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lexend";
  font-size: 16px;
  align-items: center;
  padding: 27px;
}

footer .marca {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

footer .marca .nome-marca{
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.about .coffee .text h2 {
  font-weight: 600;
}

.about .coffee .text p {
  font-weight: 300;
}

.about .area img {
  display: grid;
  width: 100%;
  grid-row: 1;
  grid-column: 3;
  max-width: 100%;
  max-height: 350px;
  height: 350px;
  object-fit: cover;
  object-position: bottom;
}

.about .area .text {
  display: grid;
  width: 100%;
  grid-row: 1;
  grid-column: 1 / span 2;
  background: #c9b194;
  padding: 96px;
  text-align: justify;
  font-family: "Lexend", sans-serif;
  gap: 16px;
}

.about .area .text h2 {
  font-weight: 600;
}

.about .area .text p {
  font-weight: 300;
}
